@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/*BASE*/
*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    /*FONTS*/
    --font: "Inter", "sans-serif";
    --font-bootstrap: 'bootstrap-icons';
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    /*BORDERS*/
    /*COLORS*/
    --light-pink:#FDEDFE;
    --lightmedium-pink:#FCE2FE;
    --medium-pink:#FCD3FE;
    --mediumdark-pink:#F589FA;
    --dark-pink:#F26CF9;
    --light-blue: #D3DAF9;
    --mediumlight-blue: #ABB4DD;
    --medium-blue: #707DBF;
    --mediumdark-blue: #5562A2;
    --dark-blue: #37437D;
    --darkest-blue: #1C2346;
    --light-yellow: #FFEFC3;
    --yellow: #FFCA39;
    --transparent: #ffffff00;
    --original-gray-shade-1: #FFFFFF;
    --original-gray-shade-2: #F7F7F7;
    --original-gray-shade-3: #EDEDED;
    --original-gray-shade-4: #E0E0E1;
    --original-gray-shade-5: #C3C3C4;
    --original-gray-shade-6: #9F9FA1;
    --original-gray-shade-7: #777779;
    --original-gray-shade-8: #636365;
    --original-gray-shade-9: #434345;
    --original-gray-shade-10: #1E1E20;
    --soft-blue-gray-shade-1: #EEEFFF;
    --soft-blue-gray-shade-2: #E4E5F5;
    --soft-blue-gray-shade-3: #DDDEED;
    --soft-blue-gray-shade-4: #D1D2E0;
    --soft-blue-gray-shade-5: #B0B1BD;
    --soft-blue-gray-shade-6: #8F8F99;
    --soft-blue-gray-shade-7: #72737A;
    --soft-blue-gray-shade-8: #56565C;
    --soft-blue-gray-shade-9: #39393D;
    --soft-blue-gray-shade-10: #131314;

    /*VARIABLES TO CHANGE*/
    --primary-30: var(--light-pink);
    --primary-40: var(--lightmedium-pink);
    --primary-50: var(--medium-pink);
    --primary-90: var(--mediumdark-pink);
    --primary-100: var(--dark-pink);
    --secondary-50: var(--light-blue);
    --secondary-60: var(--mediumlight-blue);
    --secondary-70: var(--medium-blue);
    --secondary-90: var(--mediumdark-blue);
    --secondary-100: var(--dark-blue);
    --secondary-110: var(--darkest-blue);
    --yellow-90: var(--light-yellow);
    --yellow-100: var(--yellow);
    --gray-10: var(--original-gray-shade-1);
    --gray-20: var(--original-gray-shade-2);
    --gray-30: var(--original-gray-shade-3);
    --gray-40: var(--original-gray-shade-4);
    --gray-50: var(--original-gray-shade-5);
    --gray-60: var(--original-gray-shade-6);
    --gray-70: var(--original-gray-shade-7);
    --gray-80: var(--original-gray-shade-8);
    --gray-90: var(--original-gray-shade-9);
    --gray-100: var(--original-gray-shade-10);
    --cool-gray-10: var(--soft-blue-gray-shade-1);
    --cool-gray-20: var(--soft-blue-gray-shade-2);
    --cool-gray-30: var(--soft-blue-gray-shade-3);
    --cool-gray-40: var(--soft-blue-gray-shade-4);
    --cool-gray-50: var(--soft-blue-gray-shade-5);
    --cool-gray-60: var(--soft-blue-gray-shade-6);
    --cool-gray-70: var(--soft-blue-gray-shade-7);
    --cool-gray-80: var(--soft-blue-gray-shade-8);
    --cool-gray-90: var(--soft-blue-gray-shade-9);
    --cool-gray-100: var(--soft-blue-gray-shade-10);
    --heading-color: var(--original-gray-shade-10);
    --background-color: var(--original-gray-shade-1);
    --card-background-color: var(--original-gray-shade-2);
}
.dark {}
html, body {
    color-scheme: light;
    font-size: 1rem;
    font-family: var(--font);
    font-weight: var(--font-regular);
    color: var(--gray-100);
    background-color: var(--background-color);
}
/* TYPOGRAPHY */
h1 {
    font-size: 2rem;
    font-weight: var(--font-bold);
}
h2 {
    font-size: 1.75rem;
    font-weight: var(--font-bold);
}
h3 {
    font-size: 1.625rem;
    font-weight: var(--font-bold);
}
h4 {
    font-size: 1.5rem;
    font-weight: var(--font-semibold);

    &.logotype {
        color: var(--secondary-110);
        font-weight: var(--font-medium);
    }
    &.header-title {
    color: var(--secondary-100);
}
}
h5 {
    font-size: 1.375rem;
    font-weight: var(--font-semibold);
}
h6 {
    font-size: 1.25rem;
    font-weight: var(--font-semibold);
}
.title-medium-18 {
    font-size: 1.125rem;
    font-weight: var(--font-medium);
}
.title-semibold-18 {
    font-size: 1.125rem;
    font-weight: var(--font-semibold);
}
.title-bold-18 {
    font-size: 1.125rem;
    font-weight: var(--font-bold);
}
.title-regular-16 {
    font-size: 1rem;
    font-weight: var(--font-regular);
}
.title-medium-16 {
    font-size: 1rem;
    font-weight: var(--font-medium);
}
.title-semibold-16 {
    font-size: 1rem;
    font-weight: var(--font-semibold);
}
.title-bold-16 {
    font-size: 1rem;
    font-weight: var(--font-bold);
}
.title-regular-12 {
    font-size: .75rem;
    font-weight: var(--font-regular);
}
.title-medium-12 {
    font-size: .75rem;
    font-weight: var(--font-medium);
}
.title-semibold-12 {
    font-size: .75rem;
    font-weight: var(--font-semibold);

    &.copyright {
        color:var(--gray-80)
    }
}
.title-bold-12 {
    font-size: .75rem;
    font-weight: var(--font-bold);
}
input, button, label {
    color: var(--gray-100);
    font: inherit;
}
input::placeholder {
    font-size: 12px;
    color: var(--gray-50)
}
input[type="search"] {
    border:none;
    outline: none;
    font-size: 14px;
    padding: .2rem 1rem;
    border-radius: .8rem;
}
i {
    background-color: var(--transparent);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--cool-gray-70);
    cursor: pointer;
}
a:hover,
a.active * {
    color: var(--primary-90);
    transition: all .3s;
}
span {
    font: var(--font);
    font-size: 1rem;
    color: var(--gray-90);
}
.text-line {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
    color: var(--gray-80);
}
}
.text-line::before,
.text-line::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--cool-gray-40);
    margin: 1rem .5rem;
}
.divider {
    border-top: 1px solid var(--primary-100);
}
.divider-verticle:after {
    content: "";
    border-right: 1px solid var(--primary-100);

}

/* BADGES / Validation*/
.badge {
   padding: .4rem;
   border-radius: .5rem; 
   
   &.active {
        background-color: var(--primary-50);    
   }
   &.ended {
        background-color: var(--cool-gray-40);
   }
}
.validate {
    color: firebrick;
    font-weight: var(--font-medium);
}

/* STRUCTURE */
.center-wrapper {
    background-color: var(--cool-gray-20);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;

    main {
        width: 95%;
        border: 1px solid var(--primary-50);
    }
    @media(width >= 768px){
    main {
        width: 550px;
    }
    }
    @media(width >= 1400px){
    main {
        width: 650px;
    }
    }
}
.portal-wrapper {
    display: grid;
    gap: 1rem;
    padding: .5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:"nav" "main" "footer";
    height: 100dvh;

    @media(width >= 768px){
        grid-template-columns: 80px 1fr;
        grid-template-areas:"nav header""nav main""nav footer";
    }
    @media(width >= 1400px){
        grid-template-columns: 250px 1fr;
    }
}
nav {
    grid-area: nav;
    padding: 1rem 2rem;
    background-color: var(--cool-gray-10);
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header {
    grid-area: header;
    padding: 1rem 2rem;
    background-color: var(--gray-20);
    border-radius: .8rem;
    display: none;
    align-items: center;
    justify-content: space-between;
}
@media(width >= 768px) {
    header {
        display: flex;
    }
}
main {
    grid-area: main;
    padding: 1rem 2rem;
    background-color: var(--gray-20);
    border-radius: .8rem;
}
footer {
    grid-area: footer;
    padding: 1rem 2rem;
    background-color: var(--gray-20);
    border-radius: .8rem;
}

/* BUTTONS */
.btn {
    font-size: 1em;
    font-family: var(--font);
    font-weight: var(--font-medium);
    border-radius: .8rem;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
    padding: .7rem 2rem;
    transition: all .2s;
}
.btn-blue {
    padding: .5rem;
    border-radius: 50%;
    background-color: var(--secondary-100);

    i {
        color: var(--gray-10);
    }
    &:hover,
    &:active {
        background-color: var(--primary-100);
    }
}
.btn-nav-menu {
    border:none;
    background-color: var(--transparent);
    padding: .5rem;
    cursor: pointer;

    i {
        font-size: 1.5rem;
        &:hover,
        &:active {
            color: var(--primary-100);
        }
    }
}
.btn-register-login {
    color: var(--gray-90);
    background-color: var(--gray-40);
    border: 1px solid var(--transparent);
    margin-top: 2rem;
    width: 100%;
    &:hover
{
    color: var(--primary-100);
    font-weight: var(--font-bold);
    background: var(--gray-30);
    border: 1px solid var(--primary-50);
}
}
.btn-external-login {
    width: 100%;
    color: var(--gray-90);
    background-color: var(--gray-40);
    border: 1px solid var(--transparent);
    font-weight: var(--font-medium);
    position: relative;
    margin-bottom: 2rem;

    img {
    position: absolute;
    left: 1rem;
    }
    &:hover {
        color: var(--primary-100);
        font-weight: var(--font-bold);
        background: var(--gray-30);
        border: 1px solid var(--primary-50);
    }
}
.btn-back {
    padding: 1.2rem;
    color: var(--cool-gray-10);
    background-color: var(--primary-90);
    border: 1px solid var(--transparent);
    width: 25px;
    height: 25px;
    border-radius: 50%;

    &:hover
{
    color: var(--primary-100);
    font-weight: var(--font-bold);
    background: var(--primary-40);
    border: 1px solid var(--primary-50);
}
}

/* SECTIONS - Login / Register */
.create-account-title {
    text-align: center;
    margin: 2rem 0;
    color: var(--gray-90);
}
.input-group {
    width: 100%;
    position: relative;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.form-label {
    display: block;
    font-size: .85em;
    margin-bottom: .3rem;
    color: var(--gray-90)
}
.form-input {
    width: 100%;
    font-size: 1em;
    border: 1px solid var(--cool-gray-30);
    background-color: var(--transparent);
    border-radius: .8rem;
    color: var(--gray-100);
    padding: .3rem 1rem;

    &:focus
    {
        outline: none;
        box-shadow: 0 0 5px var(--primary-50);
    }
}
.terms {
    margin-top: 1em;
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.account-already {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-top: 4rem;
}
.shrink {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;


    @media(width > 1440px){
        grid-template-columns: auto;
        column-gap: 2rem;
    }
}
.shrink-only {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
}

/* SECTIONS - Navigation */
.logo-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: .5rem;

    h4 {
        display: none;
    }
}
.nav-links {
    margin-top: 3rem;
    display: none;
}
.nav-link {
    margin: 1rem 0;
    padding: .5rem 0;
    display: flex;
    align-items: center;
    gap: .8rem;
    color: var(--secondary-100);
    font-weight: var(--font-regular);
    p, i{
        display: none;
    }
    &:hover{
        color: var(--primary-100);
        font-weight: var(--font-semibold);
    }
}
.nav-links.show {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 1rem;
    top: 4rem;
    right: 3.2rem;
    width: 50%;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px var(--cool-gray-30);
    z-index: 999;
}
.nav-links.show i,
.nav-links.show p {
    display: flex;
}

@media(width >= 768px) {
    .nav-links.show {
        display: none;
    }
    nav {
        display: block;
    }
    nav h4 {
        display: none;
    }
    .logo-container {
        justify-content: center;
    }
    .nav-links {
        display: block;
        position: static;
        backdrop-filter: none;
        box-shadow: none;
        width: auto;
    }
    #nav-menu {
        display: none;
    }
    #logout-button {
    position: absolute;
    bottom: 0;
    }
    .nav-link i {
        display: flex;
    }
}
@media(width >= 1400px){
    .logo-container {
        justify-content: start;
    }
    .logo-container h4 {
        display: flex;
    }
    .nav-link p {
        display: flex;
    }
}

/* SECTIONS - Header */
.header-welcome {
    margin-top: .5rem;
    color:var(--gray-70);
}
.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.header-right .input-search{
    display: none;
}
.profile-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.profile-container img{
    height: 30px;
    width: 30px;
    border-radius: .8rem;
}
.profile-container .profile-name{
    font-weight: var(--font-semibold);
    color:var(--secondary-100);
}
.profile-container .profile-role{
    font-size: 12px;
    color:var(--gray-70);
}
@media(width >= 1400px){
    .header-right .input-search{
    display: block;
    }
    #search-button {
        display: none;
    }
}

/* SECTIONS - Booking */
.booking-event {
    background-color: var(--cool-gray-10);
    padding: 2rem 1rem;
    border-radius: .8rem;
    height: 55dvh;
}
.booking-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
    position: relative;

    .btn-back {
        position: absolute;
        left: 0;
    }
}
.booking-title {
    color: var(--gray-80);
}
.booking-info {
    h4 {
        color: var(--primary-100);
    }
    div {
        margin-top: .5rem;
        font-weight: var(--font-semibold);
        color: var(--cool-gray-80)
    }
}
.ticket {
    width: auto;
}
.success {
    display: inline-block;
    color: var(--cool-gray-10);
    padding: .8rem;
    background-color: var(--primary-90);
    margin-top: 1rem;
    border-radius: .8rem;
}
.error {
    display: inline-block;
    color: var(--cool-gray-10);
    padding: .8rem;
    background-color: firebrick;
    margin-top: 1rem;
    border-radius: .8rem;
}

/* CARDS - Event */
.event-card {
    height: 150px;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .8rem;
    background-color: var(--cool-gray-20);
    overflow: hidden;

    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    gap: 1rem;
}
.event-1 {
    width: 200px;
    height: 120px;
    border-radius: .8rem;
    overflow: hidden;
    
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
.event-2 {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    div{
        display: none;
    }
}
.event-3 {
    display: none;
}
.event-4 {
    display: none;
}
@media(width >= 768px) {
    .event-card {
        grid-template-columns: auto 1fr auto auto auto;
        
    }
    .event-2 div {
        display: flex;
    }
    .event-3 {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .event-4 {
        display: block;
    }
}
@media(width >= 1400px){
    .event-card {
        grid-template-columns: auto 1fr auto auto auto;
        grid-template-rows: repeat(50, 1fr);
    }
}

/* CARDS - Event Details */
.event-details {
    background-color: var(--cool-gray-20);
    padding: 1rem;
    border-radius: .8rem;
}
.details-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}
.details-body {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "img img img"
                         "desc desc desc" 
                         "where when at";
    gap: 1rem;
    
    h5 {
        color: var(--primary-100);
        font-weight: var(--font-bold);
    }
}
.details-footer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.detail-1 {
    grid-area: desc;
    line-height: 1.5rem;
}
.detail-2 {
    grid-area: where;
}
.detail-3 {
    grid-area: when;
}
.detail-4 {
    grid-area: at;
}
.detail-5 {
    grid-area: img;
}
.detail-5 {
    height: 200px;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: .8rem;
    overflow: hidden;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
@media(width >= 768px) {
    .details-body {
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr auto auto auto;
        grid-template-areas: "img img"
                             "desc where"
                             "desc when"
                             "desc at";
    }
    .detail-5 {
        height: 400px;
    }
}
@media(width >= 1400px){
        .details-body {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto ;
        grid-template-areas: "desc img"
                             "where img"
                             "when img"
                             "at img"
                            ;
        gap: 2rem;
    }
        .detail-5 {
        height: 600px;
    }
}


